<div class="card">
    <div class="card-body">
        <h5 class="card-title">Special title:<input id="postTittle"> </h5>
        <p class="card-text"><textarea id="postBody" placeholder="Enter your message here."></textarea></p>
        <button id="submitPostBTN" type="submit">Submit</button>
    </div>
</div>