<header>
    <div class="jumbotron ">
        <div class="container">
            <h1 class="login-h1 display-4 d-flex justify-content-center">~~ The Tech-Blog ~~</h1>
        </div>
    </div>
</header>

<div class="form-container d-flex justify-content-center">
    <form class=" p-3 login_form">
        <div class="mb-4">
            <label for="userName" class="form-label">User Name</label>
            <input type="text" class="form-control " id="userName" aria-describedby="emailHelp">
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="createPw" minlength="4" maxlength="20">
            <p>Password must be longer then four characters.</p>
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Re-Enter Password</label>
            <input type="password" class="form-control " id="confirmPw" minlength="4" maxlength="20">
        </div>
        <div>
            <button type="submit" class="btn btn-primary text-wrap" id="createBTN">Create Account</button>
        </div>
    </form>
</div>