<div class="homePageHeading">
    <h1 class="blog-h1 googlefont">~~ The Tech-Blog ~~</h1>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href='/home'>Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dash">Dashboard</a>
        </li>
        <li class="nav-item">
            <button id="btn" type="button">Logout</button>
            {{!-- <a class="nav-link" href="#">Logout</a> --}}
        </li>
        <li class="nav-item">
            <p class='nav-link'>User: <span>{{username}}</span></p>
        </li>
    </ul>
</div>

<div id="postBTNContainer" class="text-center"><button id="makePost" type="button"
        class="btn btn-secondary mx-auto">Make New
        Post</button>
</div>

<fieldset>
    <legend>Your Posts</legend>
    {{#each posts as |post|}}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{post.name}}</h5>
            <p class="card-text">{{post.description}}</p>
            <button class="btn btn-dark">Edit</button>
            <div class="float-right">
                <button class="btn btn-dark">Delete</button>
            </div>
        </div>
    </div>
    {{/each}}
</fieldset>



<script src="/js/logout.js"></script>
<script src="/js/post.js"></script>