<div class="homePageHeading">
    <h1 class="blog-h1 googlefont">~~ The Tech-Blog ~~</h1>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href='/home'>Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/dash">Dashboard</a>
        </li>
        <li class="nav-item">
            <button id="btn" type="button">Logout</button>
            {{!-- <a class="nav-link" href="#">Logout</a> --}}
        </li>
        <li class="nav-item">
            <p class='nav-link'>User: <span>{{username}}</span></p>
        </li>
    </ul>
</div>

<fieldset>
    <legend>View All Posts</legend>
    {{!-- {{#each}}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-dark">Edit</a>
        </div>
    </div>
    {{/each}} --}}
</fieldset>

<script src="/js/logout.js"></script>