<header>
    <div class="jumbotron ">
        <div class="container">
            <h1 class="login-h1 display-4 d-flex justify-content-center">~~ The Tech-Blog ~~</h1>
        </div>
    </div>
</header>

<div class="form-container d-flex justify-content-center">
    <form class=" p-3 login_form" id="loginForm">
        <div class="mb-4">
            <label for="userName" class="form-label">User Name</label>
            <input type="text" class="form-control " id="userName" aria-describedby="emailHelp">
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control " id="password">
        </div>
        <div class="pb-3">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div>
            <button id="btnCreateAccount" type="button" class="btn btn-primary text-wrap">Create Account</button>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>