:root {
    --black: #000000;
    --lightgrey: #b3b3b3;
    --white: #ffffff;
    --green: #00ff00;
}

.jumbotron {
    font-family: 'Passions Conflict', cursive;
    border: 1px solid var(--black);
}

.login-h1 {
    font-size: 75px;
}

.form-container {
    margin-bottom: 15px;
}

.login-h1 {
    align-content: center;
}

.login_form {
    text-align: center;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 15px;
    box-shadow: 15px 10px 18px;
}

.homePageHeading {
    border: 1px solid var(--black);
    background-color: var(--lightgrey);
}

span {
    color: var(--white);
    text-decoration: underline;
}

.blog-h1 {
    text-align: center;
}

.googlefont {
    font-family: 'Passions Conflict', cursive;
    font-size: 80px;
}

#btn {
    border-radius: 5px;
}

#btn:hover {
    background-color: var(--black);
    color: var(--white);
}

fieldset {
    margin: 15px auto;
    border: 1px solid var(--black);
    border-radius: 5px;
    width: 50%;
}

legend {
    font-weight: 500;
    text-decoration: underline;
    font-style: italic;
}

#postBTNContainer {
    margin-bottom: 2%;
}

.card {
    margin: 5px 5px 10px 5px;
}

.card p {
    text-align: center;
}

.btn-dark {
    color: var(--white);
}

.hide {
    display: none;
}

@media only screen and (max-width: 492px) {
    .login-h1 {
        font-size: 55px;
    }

    .googlefont {
        font-family: 'Passions Conflict', cursive;
        font-size: 60px;
    }
}

@media only screen and (max-width: 395px) {
    .login-h1 {
        font-size: 48px;
    }

    .googlefont {
        font-family: 'Passions Conflict', cursive;
        font-size: 55px;
    }
}

@media only screen and (max-width: 375px) {
    .login-h1 {
        font-size: 40px;
    }

    .googlefont {
        font-family: 'Passions Conflict', cursive;
        font-size: 50px;
    }
}

@media only screen and (max-width: 280px) {
    .login-h1 {
        font-size: 35px;
    }

    .googlefont {
        font-family: 'Passions Conflict', cursive;
        font-size: 40px;
    }
}